:root{
    --header-background-color: #5DC0FE;
    --header-color: #fff;
    --header-background-hover-color: rgb(218, 218, 26);
    --btn--background--color: #FFE636;
    --btn--color: #410C6A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Alegreya", serif;
    line-height: 1.6;
}

.header{
    background-color: var(--header-background-color);
    padding: 20px 40px;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

#logo{
    max-width: 150px;
}

.navigation--links ul{
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--header-color);
}

.navigation--links a{
    text-decoration: none;
    color: var(--header-color);
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation--links a:hover{
    color: rgb(119, 119, 23);
}

#sign--up a{
    background-color: var(--header-color);
    color: var(--header-background-color);
    padding: 8px 16px;
    border-radius: 5px;
}

#sign--up a:hover{
    background-color: var(--btn--color);
    color: var(--header-color);
}

/* Hero */
.header--section{
    padding: 50px 20px;
    text-align: center;
    color: var(--header-color);
    font-weight: bold;
    font-style: normal;
    max-width: 80%;
    margin: auto;
}

#hero--h1{
    line-height: 60px;
    font-size: 76px;
    font-weight: 700;
    padding-bottom: 30px;
}

#hero--p{
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    max-width: 70%;
    margin: auto;
    padding-bottom: 20px;
}

#header--quiz--btn{
    background-color: var(--btn--background--color);
    color: var(--btn--color);
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 15px;
    border-radius: 100px;
    border-style: none;
    font-size: 23px;
    width: 320px;
    height: 65px;
    cursor: pointer;
    margin: 20px;
}

#header--quiz--btn:hover{
    background-color: var(--btn--color);
    color: var(--header-color)
}
.stats--review--section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.stats{
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.stat--text{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.divider {
  border-left: 3px solid var(--btn--color);
  height: 20px;
}

.stat--number {
    font-size: 28px;
    font-weight: 800;
}